<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="@Url.Action("index","student")">
                    <img style="border-style:double;" src="~/Content/images/student_icon.jpg" />
                </a>
            </div>
            <div class="caption">
                <center><a href="@Url.Action("index","student")">Students</a></center>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="@Url.Action("index","teacher")">
                    <img style="border-style:double;" src="~/Content/images/128_Teacher-1.png" />
                </a>
            </div>
            <div class="caption">
                <center><a href="@Url.Action("index","teacher")">Teachers</a></center>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="@Url.Action("index","subjects")">
                    <img style="border-style:double;" src="~/Content/images/School-subjects3.jpg" />
                </a>
            </div>
            <div class="caption">
                <center><a href="@Url.Action("index","subject")">Subjects</a></center>
            </div>
        </div>
    </div>
</div>